@media all and (max-width:1900px){
    #wrap2{
        width: 100%;
    }
    .ft_box{
        width: 100%;
        justify-content: unset;
    }

}
@media all and (max-width:1600px){
    .section .c_container .box .txt{
        
    }
}
@media all and (max-width:1024px){
    .ft_box{
        display: block;
        margin-left: unset;
    }
    .ftb_left::after{
        display: none;
    }
    .footer_box:after{
        display: none;
    }
    .ftb_left{
        width: unset;
        display: block;
        margin: auto;
        text-align: center;
        padding: 50px 0;
    }
    .ft_box .ftb_left .fltb_top{
        margin: auto;
        margin-bottom: 30px;
    }
    .ft_box .ftb_right{
        margin: auto;
        width: 100%;
    }
}
@media all and (max-width:768px){
/* header gnb 반응형 시작 */
    .header{
        height: unset;
    }  
    .header_top{
        height: 280px;
    }
    .header_bottom{
        height: unset;
    }
    .header_bottom .sub_menu{
        display: block;
        width: unset;
    }
    .header_bottom .sub_menu div{
        line-height: 70px;
        text-align: center;
        font-size: 18px;
    }
    .header_top .ht_left{
        display: none;
    }
    .header_top .ht_right{
        width: 100%;
    }
    .header_top .ht_right .rtxt_box {
        display: block;
        margin: auto;
        text-align: center;
        padding-top: 20vw;
    }
    .header_bottom .sub_menu{

    }

    /* 푸터반응형 시작 */
    .footer_box{
        height: auto;
        padding: 50px 0;
    }
    .ft_box{
        display: block;
        margin: auto;
        text-align: center;
    }
    .ft_box .ftb_right{
        display: none;
    }
    .ft_box .ftb_left{
        width: unset;
        margin-top: 45px;
    }
    .ft_box .ftb_left .fltb_top{
        margin: auto;
        margin-bottom: 30px;
    }

    /* Product1,2 반응형 시작*/
    .section .c_container .box{
        display: block;
        height: unset;
    }
    .section .c_container .box .box_img{
        margin-right: unset;
    }
    .section .c_container .box .box_img img{
        width: 100%;
    }
    .section .c_container .box .txt{
        position: unset;
        margin-top: 5vw;
    }
    
/* Product3 반응형 시작*/

    .section .c_container{
        width: 65%;
    }
    .section .c_container .wrap{
        display: block;
    }
    .section .c_container .wrap .box3{
    padding: 0;
    }

}
@media all and (max-width:480px){




}