@charset "UTF-8";

@import url(reset.css);








/* 애니메이션 설정 */

@keyframes ani_one {
    0% {
        width: 0;
    }

    100% {
        width: 130px;
    }
}

@keyframes ani_two {}

/* 애니메이션 설정 끝*/



/* slick arrow / dot 설정 */






.slick_navBox{
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;bottom: 25px;
}


.arrowSlider,
.dots {
    cursor: pointer;
}

.arrowSlider {
    position: absolute;
    left: 0px;
    bottom: 1px;
    display: flex;
    width: 100%;
    justify-content:space-between;
}


.arrowSlider span{
    width: 30px;
    height: 30px;

}

.arrowSlider .prev{
    background: url(../img/left-arrows.png) no-repeat;
    background-size: contain;
}
.arrowSlider .next{
    background: url(../img/right-arrows.png) no-repeat;
    background-size: contain;
}

.dots {
    display: flex;
    position:absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
}

.bn-item{
    text-indent: -9999px;
    width: 50px;
    height: 2px;
    background: #000;
    transition: 0.2s;
}

.dots li.slick-active .bn-item{
    background: #ccc;
    transition: 0.2s;
    height: 2px;
}




/* slick arrow / dot 설정 끝*/





#wrap {
    width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 4;

}

.dh_imoticon {
    position: relative;
}

.dh_imoticon:after {
    content: "";
    position: absolute;
    left: 1px;
    top: -12px;
    width: 30px;
    height: 25px;
    background: url(../img/business.png) no-repeat;
    background-size: contain;
}





.s1_box {


    background-size: cover;
    position: relative;
    background-position: 150px 70px;
}


.s1_slick {
    /* width: 1920px;
    height: 940px; */
    position: relative;
}

.s1_slick .s1sBox {
    width: 1920px;
    height: 970px;
    background-size: cover;
    background-position: 100px 55px;
    background-repeat: no-repeat;

}





.sb1 {

    background: url(../img/mainBg_01.png);
}

.sb2 {
    background: url(../img/mainBg_02.png);
}

.sb3 {
    background: url(../img/mainBg_03.png);
}

.sb4 {
    background: url(../img/mainBg_04.png);
}

.sb5 {
    background: url(../img/mainBg_05.png);
}


.s1_navBox {
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 250px;
    height: 130px;
    background: #fff;
}


.s1_slick_nav {
    width: 790px;
    height: 130px;
    position: absolute !important;
    left: 175px;
    bottom: 50px;
}

.item-nav {
    width: 240px !important;
    height: 125px;
    filter: grayscale(1);
    transition: 0.3s;
    border: 2px solid #ccc;
}

.inv1 {

    background: url(../img/r_mainBg_01.png);
    background-size: cover;
}

.inv2 {

    background: url(../img/r_mainBg_02.png);
    background-size: cover;
}

.inv3 {

    background: url(../img/r_mainBg_03.png);
    background-size: cover;
}


.inv4 {

    background: url(../img/r_mainBg_04.png);
    background-size: cover;
}


.inv5 {

    background: url(../img/mainBg_05.png);
    background-size: cover;
}


/* -------------gnb / left nav--------------*/


.gnb {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid #fff;
    transition: all 0.3s;
}


.gnb .gnb_center {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;

}


.gnb .gnb_right {

    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-top: 15px !important;
    margin-right: 45px;
}

.gnb .gnb_left {
    margin-top: 23px;
    margin-left: 45px;
    width: 800px;
}

.gnb .gnb_left .logo_box {
    width: 250px;
    height: 40px;
    background: url(../img/donghwa_logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
}


.gnb.on {
    transition: all 1s;
    border-bottom: 1px solid #000;
    background: #fff;
}

.gnb.on2 {
    background: none;
    border-bottom: 1px solid #fff;
}

.gnb.on2 .gnbr2 {
    background: url(../img/globe_white.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 8px 8px;
}


.gnb.on2 .gnb_left .logo_box {

    background: url(../img/donghwa_logo_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.gnb.on2>div {
    color: #fff;
}

.gnb>div {
    margin-top: 30px;
    font-weight: 600;
    color: #000;
    transition: 0.3s;
}

.gnb.on2 .gnb_center div>a {
    color: #fff;
}

.gnb.on2 .menubtn span {
    background: #fff;
}

.gnb.on2 .global_img {
    background: url(../img/globe_white.png);
}


.gnb_center div>a {
    position: relative;
    font-size: 16px;
    transition: 0.4s;
}

.gnb_center div:hover>a {
    color: #0a69b1;
}

.gnb_center div:before {
    content: "";
    position: absolute;
    right: 30px;
    top: -5px;

    width: 0%;
    height: 1px;
    transition: 0.3s;
}

.gnb_center div:hover::before {
    width: 53%;
}




.gnb_center div:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 5px;
    background: #0a69b1;
    width: 0px;
    height: 2px;
    transition: 0.5s;
    border: 1px;
}

.gnb_center div:hover::after {
    width: 100%;
}


.gnb .gnb_center div {
    height: 45px;
    width: 128px;
    text-align: center;
    position: relative;
}

.gnb .gnb_center div:last-child {
    margin-right: 0;
}

.gnb .gnb_center div ul {
    background: #fff;
    display: none;
    width: 128px;
    position: absolute;
    left: 0;
    top: 40px;
    padding-top: 10px;
    box-sizing: border-box;
}


.gnb .gnb_center div ul li {
    text-align: center;

}




.gnb_center>div>a {
    cursor: pointer;
}


.submenu li {
    transition: 0.3s;
}

.submenu li a {
    font-size: 14px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;

    color: #000;
    display: inline-block;
    width: 100%;
    height: 56px;
    line-height: 56px;
}


.submenu li:hover {
    background: #eee;
}

.submenu li:hover a {

    color: #000;
}




.submenu::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    width: 90%;
    height: 2px;

}

.submenu:before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    width: 90%;
    height: 2px;

}







.gnb_right .gnbr1 {

    position: relative;
    width: 140px;
    height: 41px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.gnbr2 {
    position: relative;
}


.global_img {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    background: url(../img/globe.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    cursor: pointer;
}


.global_txt {
    display: none;
    background: #fff;
    height: 135px;
    width: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    border-radius: 10px;
}

.global_txt a {
    margin-top: 15px;
    display: block;
    text-align: center;
    text-transform: uppercase;
}


.sitemap {
    position: absolute;
    left: 20px;
    top: 13px;
}


input[id="menuicon"] {
    display: none;
}

.menubtn {
    z-index: 9999;
    display: block;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 6px;
    cursor: pointer;
}

.menubtn span {
    display: block;
    position: absolute;
    width: 18px;
    height: 3px;
    border-radius: 30px;
    background: #222;
    transition: all 0.3s;
}

.menubtn span:nth-child(1) {

    right: 0px;
    top: 20%;
    transform: translateX(-50%);
}

.menubtn span:nth-child(2) {
    right: 0px;
    top: 50%;

    transform: translate(-50%, -50%);

}

.menubtn span:nth-child(3) {
    right: 0px;
    bottom: 20%;

    transform: translateX(-50%);

}


.slb4 .s_container {
    margin-top: 50%;
    width: 50%;
}

.s_container {
    width: 60%;
    height: 20%;
    margin: 50% 0 0 120px
}

.s_container>a {
    font-size: 30px;
    margin-bottom: 50px;
    display: inline-block;
    font-weight: 600;
    margin-left: 50px;
    position: relative;
}

.s_container>a::after {
    content: "";
    position: absolute;
    left: -50px;
    top: 15px;
    width: 30px;
    height: 3px;
    background: #000;
}



.s_container ul li {
    margin-bottom: 25px;

    position: relative;
}

.s_container ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #000;
    width: 0%;
    height: 2px;
    transition: 0.5s;
    z-index: 1;
}

.s_container ul li:hover a:after {
    width: 100%;
}


.s_container ul li a {
    font-size: 18px;
    color: #999;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}

.s_container ul li:hover a {
    color: #000;
}

.slidebar {
    position: fixed;
    top: -100%;

    height: 100%;
    background: #fff;
    z-index: 200;
    box-sizing: border-box;
    border-right: 1px solid #ccc;

}

.slidebar .ftb_left {
    color: #000;
    position: relative;
}

.slidebar .fltb_top {
    background: url(../img/donghwa_logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.slb1 {
    width: 20%;
    left: 0;
    transition: 0.6s ease-in;
}

.slb2 {
    width: 20%;
    left: 20%;
    transition: 0.6s 0.1s ease-in;
}

.slb3 {
    width: 20%;
    left: 40%;
    transition: 0.6s 0.2s ease-in;
}

.slb4 {
    width: 40%;
    border: none;
    left: 60%;
    transition: 0.6s 0.3s ease-in;
    display: block;
}



input[id="menuicon"]:checked~.menubtn {
    z-index: 9999;
}

input[id="menuicon"]:checked~.menubtn span:nth-child(1) {
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%) rotate(135deg);
    background: #000;
}

input[id="menuicon"]:checked~.menubtn span:nth-child(2) {
    right: 0px;
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
}

input[id="menuicon"]:checked~.menubtn span:nth-child(3) {
    bottom: 50%;
    right: 0px;
    transform: translate(-50%, 50%) rotate(-135deg);
    background: #000;
}

input[id="menuicon"]:checked~.slb1 {
    top: 0;
}

input[id="menuicon"]:checked~.slb2 {
    top: 0;
}

input[id="menuicon"]:checked~.slb3 {
    top: 0;
}

input[id="menuicon"]:checked~.slb4 {
    top: 0;
}












/* 왼쪽네비 */

.left_nav {
    position: fixed;
    left: 0;
    top: 70px;
    width: 140px;
    height: 93%;

    background: #fff;
    opacity: 1;
    transition: 0.4s;
    z-index: 5;
}

.left_nav.on2 {
    background: none;
    border-right: 1px solid #fff;
}

.left_nav.on3 {
    background: none;
    border: none;
}

.left_nav.on3 .ln_txt {
    opacity: 0;
}

.left_nav.on .ln_txt {
    opacity: 0;
}

.left_nav.on2 .ln_txt {
    opacity: 0;
}


.left_nav.on {
    border-right: 1px solid #000;
}

.left_nav.off {
    opacity: 0;
}

.left_nav.off .ln_txt {
    opacity: 0;
}

.ln_txt {
    position: absolute;
    left: -140px;
    top: 400px;
    transform: rotate(-90deg);
    color: #3e3e3e;

    text-transform: uppercase;

    transition: 0.4s;
    width: max-content;
    opacity: 1;
    text-indent: 1px;
    font-weight: bold;
}



.left_nav.on .ln_txt:after {
    background: #000;
}

.ln_txt:after {
    position: absolute;
    content: "";
    right: 550px;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 1px;
    background: #000;
    animation: ani_one 2s infinite;
    transition: 0.4s;
}







/* 첫번째 섹션 */

.s1 {
    position: relative;
}

.s1_slick {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}



.s1_main_txt {
    position: absolute;
    left: 320px;
    top: 320px;
    color: #fff;

}

.s1_main_txt span {
    font-size: 100px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
}

.s1_main_txt div {
    font-size: 37px;
    margin-bottom: 90px;
}




.s1_circle {
    position: absolute;
    right: 90px;
    bottom: 90px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.view_dt {
    color: #fff;
    font-size: 20px !important;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}

.view_dt::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 180px;
    height: 1px;
    background: #fff;
}

.left_Mnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: 100%;
    background: #fff;
    transition: 1s;
    display: none;
}







/* 두번째 섹션 */

.s2 {
    background: #fff;
    position: relative;
}

.s2_main_box {
    height: 460px;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-left: 255px;
}

.s2_main1 {
    margin: 220px 0 0 260px;
    width: 780px;
}



.s2m1_top {
    width: 80%;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
}

.s2m1_box {


    width: 400px;
    position: relative;
    height: 350px;
}



.s2m1_box:after {
    position: absolute;
    content: "";
    left: 0;
    top: -200px;
    width: 100%;
    height: 3px;
    background: #000;
}

.s2m1_box:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0px;
    width: 100%;
    height: 3px;
    background: #000;
}

.s2m1_box .s2box_txt {

    text-transform: uppercase;
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 30px;
    margin: 200px 0 30px 0;
}

.s2m1_box span {
    text-transform: uppercase;
    font-size: 16px;
    color: #999;
    line-height: 25px;
}



.s2m1_bottom {
    width: 80%;
    height: 3px;
    background: #ccc;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nextArrow {
    position: absolute;
    right: 0;
    top: -65px;
}

.prevArrow {
    position: absolute;
    left: 0;
    top: -65px;
}

.s2_main2 {
    position: relative;
    width: 1300px;
    height: 100%;
    margin: 220px -260px 0 0;

}

.slick_box {
    width: 100%;
    height: 550px;

}

.slick_box .sb_img {

    width: 100%;
    height: 550px;
    background: #ccc;
    position: relative;
}

.sbi_box {
    width: 80%;
    height: 490px;
    margin: 30px auto 30px;
    position: relative;
    z-index: 1;
}

.img_box {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
}

.img_box img {
    width: 100%;
}

.sbib_top {
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}

.sbib_bottom {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sbibb_left {
    width: 90px;
    height: 90px;
    position: relative;
    border: 5px solid #fff;
    border-radius: 3px;
}

.sbibb_left span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 16px;
}

.sbibb_right {
    font-size: 60px;
    font-weight: bold;
}

.s2_main2 div .slick_txt {
    position: absolute;
    left: 30px;
    top: 45px;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
}


.s2_main2 div .slick_sqaure {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}

.s2_main2 div .slick_sqaure span {
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    transition: .3s;
}

.s2_main2 div .slick_sqaure:hover {
    border: 3px solid #000;
}

.s2_main2 div .slick_sqaure:hover span {
    bottom: 30px;

    color: #000;
}


.s2_main2 div .slick_num {
    position: absolute;
    right: 70px;
    bottom: 40px;
    color: #fff;
    /* font-weight: bold; */
    font-size: 40px;
}



/* 세번째 섹션 */

.s3_main_box {
    display: flex;
    width: 100%;
    background: #fff;
    height: 100%;
    position: relative;
}

.s3_left {
    width: 38%;
    background: #fff;
}

.s3_right {
    width: 62%;
    background: url(../img/sec3_01.png);
    background-size: cover;
}


.s3_center {
    position: absolute !important;
    left: 260px;
    top: 400px;
    width: 1000px;
    height: 380px;
    display: flex;
    justify-content: space-between;
}

.s3l_txt {
    margin: 200px 0 0 260px;
}

.s3lt_top {
    position: relative;
    text-transform: uppercase;
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 30px;
}

.goleft {
    left: -2px;
}

.s3lt_bottom {
    color: #999;
    line-height: 25px;
}



.s3c_box {
    margin: 5px 0 0 5px;
    width: 300px;
    height: 350px;
    background: #fff;
    box-shadow: 1px 1px 7px 1px grey;
    position: relative;
}

.s3c_box .s3box_img {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

.s3box_top {
    position: absolute;


    font-size: 80px;
    /* font-weight: bold; */
    color: #ccc;
    bottom: 35px;
    right: 10px;
    opacity: 0.7;
}



.s3box_middle {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 290px;
    margin-right: 15px;
    text-align: right;
    font-size: 25px;
    z-index: 10;
    position: relative;

}

.s3box_bottom {
    text-align: right;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    opacity: 0.8;
    margin-right: 15px;
}


.a2 {
    left: 0;
    top: 0;
}

/* 네번째 섹션 */

.s4_right {
    background: #000;
    width: 62%;
}

.catal_box {

    width: 400px;
    height: 350px;
    margin-top: 30px;
}


.cbox_ko,
.cbox_en {
    width: 100%;
    height: 190px;
    border: 3px solid #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.cbox_ko:hover,
.cbox_en:hover {
    border: 3px solid #0a69b1;
}

.cbox_ko:hover .catal_img2,
.cbox_en:hover .catal_img2 {
    background: url(../img/catal_blue.png) no-repeat;
    background-size: contain;
}

.cbox_ko:hover>div>span,
.cbox_en:hover>div>span,
.cbox_ko:hover>div>div,
.cbox_en:hover>div>div,
.cbox_en:hover .catal_img:after,
.cbox_ko:hover .catal_img:after {
    color: #0a69b1;
}

.cbox_ko {
    margin-bottom: 50px;
}

.cbox_en {}

.catal_img {
    margin: 45px 0 0 160px;
    position: relative;
}

.catal_img::after {
    content: "\f061";
    position: absolute;
    right: 20px;
    bottom: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
    transition: 0.3s;
}

.catal_img2 {
    width: 68px;
    height: 80px;
    background: url(../img/catal.png) no-repeat;
    display: inline-block;
    transition: 0.3s;
}

.catal_img span {
    font-weight: bold;
    color: #ccc;
    transition: 0.3s;
}

.catal_img div {
    margin-top: 10px;
    font-weight: bold;
    color: #ccc;
    transition: 0.3s;
}



/* 네번째 섹션 */

.s5 {
    background: url(../img/GettyImages-1293772951.jpg);
    background-size: cover
}

.s5_txt {
    color: #fff;
    margin-left: 800px;
    margin-bottom: 70px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
}

.s5_txt .s5t_top {
    font-weight: bold;
    font-size: 58px;
    margin-bottom: 20px;
}

.s5_txt .s5t_bottom {
    font-size: 25px;
    letter-spacing: 1px;
}

.s5_img {
    width: 1000px;

    margin: 0 0 0 542px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.s5img_box {
    width: 50%;

    height: 300px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.s5b_1 {
    border-right: 1px solid #fff !important;
    z-index: 1;
}

.s5b_2 {
    border-left: 1px solid #fff !important;
}

.s5b_2 .s5img_sbox {
    z-index: 1;
}

.s5b_2:hover .s5_fullbg {
    opacity: 1;

}

.s5_fullbg {
    content: "";
    position: absolute;
    left: -1043px;
    top: -421px;
    width: 1994px;
    height: 1080px;
    background: url(../img/main_rd.jpg) no-repeat;
    background-size: contain;
    opacity: 0;
    transition: 0.3s;
    z-index: 0;
    pointer-events: none;
}



.s5img_sbox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    border: 2px solid #fff;
    transition: 0.2s;
}

.s5img_sbox:hover {
    background: #fff;
}

.s5img_sbox:hover .s5b_txt {
    color: #000;
}




.s5b_img {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);

    width: 100px;
    height: 110px;
    background-size: contain;
}


.s5b_1 .s5b_img {
    background: url(../img/laboratory_white.png) no-repeat;
    background-size: contain;
    width: 110px;
    transition: 0.2s;
}

.s5b_1:hover .s5b_img {
    background: url(../img/laboratory.png) no-repeat;
    background-size: contain;
    width: 110px;
}

.s5b_2 .s5b_img {
    background: url(../img/idea_white.png) no-repeat;
    background-size: contain;
    width: 110px;
    transition: 0.2s;
}

.s5b_2:hover .s5b_img {
    background: url(../img/idea.png) no-repeat;
    background-size: contain;
    width: 110px;
}

.s5b_txt {
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    transition: 0.2s;
}

.s5b_txt p:first-child {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.s5b_txt p:last-child {
    font-size: 22px;
}




/* 푸터 */

footer {
    position: relative;
}

.footer_box {
    width: 100%;
    background: #000;
    height: 550px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.footer_box:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 85px;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0.5;
}

.ft_box {
    width: 1680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-left: 125px;
}

.ftb_left {
    margin-top: 90px;
    position: relative;
    width: 590px;

}

.ftb_left::after {
    position: absolute;
    content: "";
    right: 0;
    top: -35px;
    width: 1px;
    height: 350px;
    background: #fff;
    opacity: 0.5;
}


.ftb_right {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 940px;
}

.ftb_right div ul {
    font-weight: bold;
    width: 115px;
    font-size: 16px;
    margin-left: 25px;
}

.ftb_right div ul li {
    font-weight: normal;
    margin-top: 20px;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    width: fit-content;
}


.ftb_right div ul li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background: #fff;
    transition: 0.3s;
}

.ftb_right div ul li:hover:after {
    width: 100%;
}


.ftb_right div ul li:hover {
    font-weight: bold;
    opacity: 1;
}

.footer_box .fltb_top {
    background: url(../img/donghwa_logo_footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.fltb_top {
    width: 390px;
    height: 45px;
    background: #fff;
    margin-bottom: 50px;

}

.fltb_middle {
    margin-bottom: 50px;
}

.fltb_middle .fltb_line {
    position: relative;
    margin-right: 13px;
}

.fltb_middle .fltb_line:after {
    content: "";
    position: absolute;
    right: -5px;
    top: 5px;
    width: 1px;
    height: 16px;
    background: #fff;
}

.ft_common div {
    font-size: 18px;
    margin-bottom: 10px;
    opacity: 0.5;
}

.ft_common span {
    font-size: 18px;
    opacity: 0.5;
}








/* -----------------------반응형---------------------- */

@media (max-width:1900px) {


    /*  첫번째 섹션 */
    #wrap {
        width: 100%;
        overflow-x: hidden;
        overflow-y: visible;
    }



    .gnb .gnb_left {
        margin-right: 0px;
    }


    .s1_navBox {
        width: 11vw;
        height: 6vw;
        top: 40vw;
    }

    .s1_slick .s1sBox {

        background-position: 100px 70px;
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    .gnb.on2 {
        background: #fff;
        border-bottom: 1px solid #000;
    }

    .gnb.on2>div {
        color: #000;
    }

    .gnb.on2 .gnb_center div>a {
        color: #000;
    }

    .gnb.on2 .gnb_left .logo_box {
        background: url(../img/donghwa_logo.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .gnb.on2 .gnbr2 {
        background: url(../img/globe.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 8px 8px;
    }

    .gnb.on2 .menubtn span {
        background: #000;
    }


    .left_nav {
        display: none;
    }

    .left_Mnav {
        display: block;
    }

    .s1_main_txt {
        left: 20vw;
        top: 18vw;
    }

    .s1_main_txt span {
        font-size: 5.5vw;
    }

    .s1_main_txt div {
        font-size: 2vw;
    }

    .s1_slick_nav {
        top: 40vw;
        left: 13vw;
        width: 10vw;
        width: 37.5vw;
    }

    .item-nav {
        width: 11vw !important;
        height: 6vw;
    }

    .left_Mnav {
        width: 7.4vw;
    }

    .ln_txt {
        left: -7vw;
    }



    .s2_main_box {
        margin-left: 100px;
        display: block;
    }






    /* 두번째 섹션 */

    .s3_main_box {
        overflow: hidden;
    }

    .s2_main2 {
        width: 60vw;
        margin: 100px -260px 0 0;
    }

    .s3_left {}

    .s2m1_box {
        margin: 100px 0 0 100px;
        width: 30vw;
    }

    .s2m1_box .s2box_txt {
        font-size: 3vw;
        margin-top: 100px;
    }

    .s2m1_box span {
        font-size: 0.9vw;
    }

    .slick_box .sb_img {
        height: 21.5vw;

    }

    .sbi_box {
        height: 100%;
    }



    /* 세번째 섹션 */

    .s3_center {
        width: 50%;
        height: 350px;
    }

    .s3c_box {
        height: 340px;
    }

    .s3box_img {
        width: 80%;
    }

    .s3box_img img {
        width: 100%;
    }






    /*  다섯번째 섹션 */
    .s5_txt {
        text-align: center;
        position: relative;
        z-index: 1;
        width: 472px;
        margin: 0 auto 70px;
        display: block;
        color: #fff;
    }

    .s5_img {
        width: 60%;
        margin: 0 auto;
    }
}




@media screen and (max-width:1620px) {



    .gnb {
        justify-content: space-between;
    }

    .gnb .gnb_center {}

    .gnb_center div>a {
        font-size: 15px;
    }

    .submenu li a {
        font-size: 14px;
    }

    .gnb .gnb_left {
        width: 50%;
    }


    .ln_txt {
        left: -140px;
        top: 485px;
        font-size: 15px;
    }

    .ln_txt:after {
        right: 420px;
    }

    /* 첫번째 섹션 */

    .s1_slick .s1sBox {
        background-size: 120%;
        height: 913px;
    }



    .s2_main1 {
        margin: 200px 100px 0 0;
        width: 700px;
    }

    .s2_main2 {
        width: 1200px;
    }

    .s2m1_box:after {
        top: -200px;
    }

    .s2m1_box {
        height: 300px;
    }

    .s2m1_box .s2box_txt {
        font-size: 60px;
    }

    .s2m1_box span {
        font-size: 17px;
    }

    .slick_box .slick-prev,
    .slick_box .slick-next {
        bottom: 60px;
    }

    .slick_box .slick-prev {
        left: -580px;
    }

    .slick_box .slick-next {
        left: -125px;
    }

    .slick-dots {
        bottom: 60px;
        left: -490px;
    }

    .slick_box .sb_img {
        height: 500px;
    }

    .sbi_box {
        height: 90%;
    }

    .s1_slick_nav {
        top: 750px;
        left: 190px;
    }

    .s1_navBox {
        top: 750px;
    }

    .s1_slick .slick-prev {
        top: 780px;
    }

    .s1_slick .slick-next {
        top: 780px;
    }

    .s1_slick .slick-dots {
        top: 810px;
    }

    .slick-counter {
        top: 48.9vw;
    }


    /* 세번째 섹션 */

    .s3l_txt {
        margin: 100px 0 0 100px;
    }

    .s3 {
        margin-top: -90px;
    }

    .s3_center {
        left: 100px;
        top: 300px;
        width: 60%;
    }

    /* 네번재 섹션 */
    .s5 {
        margin-top: -50px;
    }

    .s4_right {
        margin-top: 0;
        width: 62%;
    }

    .s5_txt {
        margin: -80px auto 100px;
        display: block;
    }

    .s5_img {
        margin: 0 auto;
    }

    /* 푸터 */

    .ft_box {
        margin-left: 50px;
        justify-content: normal;
    }

    .ftb_left {
        width: 500px;
    }

    .ftb_right {
        margin-left: 50px;
    }












    .s3_main_box {
        margin-top: 0px;
    }






    .s_container {
        width: 60%;
        height: 20%;
        margin: 50% 0 0 25%;
    }

    .ftb_left {
        margin-top: 130px;
    }

    .ftb_right {
        margin-top: 130px;
    }

    .ftb_left::after {
        top: -70px;
    }

}






@media (max-width:1280px) {
    .left_Mnav {
        display: none;
    }

    .s1_slick .s1sBox {
        background-position: 0px 0px;
    }

    .gnb .gnb_center {
        display: none;
    }
}


@media (max-width:1024px) {

    .gnb {
        height: 50px;
    }

    .gnb .gnb_left {
        margin-top: 15px;
    }

    .gnb .gnb_left .logo_box {
        width: 200px;
    }

    .gnb .gnb_right {
        margin-top: 10px !important;
    }

    .gnb_right .gnbr1 {
        position: relative;
        width: 120px;
        height: 30px;
    }

    .global_img {
        width: 30px;
        height: 30px;
        background-position: 6px 6px;
    }


    .gnbr2 {
        margin-left: 30px;
    }

    .sitemap {

        left: 10px;
        top: 9px;
        font-size: 14px;

    }


    .menubtn {
        width: 32px;
        height: 30px;
        left: 85px;
        top: 0px;
    }

    .s1_slick_nav {
        display: none;
    }

    .slick-counter {
        display: none;
    }

    .s1_slick .slick-dots {
        display: none !important;
    }

    .s1_slick .slick-prev {
        top: 230px;
        left: 130px;
        background: url(../img/company_img/sub1_pt_arrow1.png)no-repeat;
        height: 40px;
    }

    .s1_slick .slick-next,
    .s3_center .slick-next {
        top: 230px;
        left: 700px;
        background: url(../img/company_img/sub1_pt_arrow2.png)no-repeat;
        height: 40px;
    }



    .s1_main_txt div {
        font-size: 15px;
    }

    .view_dt {
        font-size: 15px;
    }

    .s1_slick .s1sBox,
    .s1_slick .slick-list {
        height: 600px;
    }


    /* 두번째섹션 */

    .dh_imoticon:after {
        top: -17px;
    }

    .s2_main1 {
        width: 250px;
        margin: 100px 100px 0 0;
    }



    .s2_main2 {
        width: 800px;

    }

    .s2m1_box {
        width: 100%;
    }

    .slick_box .sb_img {
        height: 324px;
    }

    .sbi_box {
        height: 85%;
    }

    .sbib_top {
        font-size: 15px;

    }

    .sbibb_right {
        font-size: 35px;

    }

    .sbibb_left {
        width: 70px;
        height: 70px;
        border: 4px solid #fff;
    }

    .s2m1_box .s2box_txt {
        font-size: 30px;
    }

    .s2m1_box span {
        font-size: 10px;
    }

    .s2m1_box:after {
        top: -100px;
    }

    .s2m1_box {
        height: 224px;
        margin-left: 50px;
    }

    .slick_box .slick-prev,
    .slick_box .slick-next {
        bottom: 240px;
    }

    .slick_box .slick-prev {
        left: -300px;
    }

    .slick_box .slick-next {
        left: -72px;
    }

    .slick-dots {
        bottom: 240px;
        left: -264px;
    }

    .slick-dots li button {
        width: 30px;
    }

    .s3_right {}



    /* 세번째 섹션 */

    .s3lt_top {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .s3l_txt {
        margin-left: 50px;
    }

    .s3lt_bottom {
        font-size: 10px;
        line-height: 18px;
    }



    .s3_center {
        width: 700px;
    }

    .s3box_img img {
        width: 160px;
    }

    .s3c_box {
        height: 255px;
    }

    .s3box_top {
        font-size: 50px;
        bottom: 60px;
    }

    .s3box_middle {
        margin-top: 200px;
        font-size: 19px;
    }

    .s3box_bottom {
        font-size: 10px;
    }

    .s3_center {
        left: 50px;
        top: 220px;
    }

    .s3box_top {
        font-size: 50px;
        bottom: 40px;
        right: 15px;
    }

    .s3_center .slick-prev {
        display: none !important;
    }

    .s3_center .slick-next {
        top: 130px;
    }

    .s3_center .slick-dots {
        display: none !important;
    }

    .catal_box {
        width: 270px;
    }

    .cbox_ko,
    .cbox_en {
        height: 130px;
    }

    .catal_img {
        margin: 10px 0 0 100px;
    }

    .catal_img div {
        font-size: 14px;
        margin-top: 0;
    }

    .catal_img2 {
        width: 50px;
        height: 60px;
        background-size: contain;
    }

    .catal_img span {
        font-size: 14px;
    }

    .catal_img {
        margin: 30px 0 0 100px;
    }

    .cbox_ko {
        margin-bottom: 30px;
    }

    .s5_txt .s5t_top {
        font-size: 30px;
    }

    .s5 {
        margin-top: 0;
    }

    .s5_txt .s5t_bottom {
        font-size: 15px;
    }

    .s5_img {
        width: 700px;
        height: 300px;
    }

    .s5img_box {
        height: 240px;
    }

    .s5_txt {
        margin-bottom: 50px;
    }

    .s5b_txt p:first-child {
        font-size: 19px;
    }

    .s5b_txt p:last-child {
        font-size: 15px;
    }

    .s5b_2 .s5b_img,
    .s5b_1 .s5b_img {
        width: 80px;
    }

    .s5b_1:hover .s5b_img,
    .s5b_2:hover .s5b_img {
        width: 80px;
    }

    .s5b_txt {
        bottom: 55px;
    }



    .ft_box .ftb_left .fltb_top {
        width: 300px;
    }

    .ft_common div {
        font-size: 15px;
    }

    .ft_common span {
        font-size: 15px;
    }

    .ftb_right div ul {
        width: 100px;
        margin-left: 0px;
        font-size: 14px;
        text-align: center;
    }

    .ftb_right div ul li {

        margin: 20px auto 0;
        display: block;
    }

    .ft_box .ftb_right {
        justify-content: space-evenly;
    }





    .footer_box {
        height: 580px;
    }

    .ftb_left::after {
        top: 270px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
    }

    .footer_box:after {
        bottom: 40px;
    }





    .s_container {
        margin-top: 65%;
    }

    .s_container>a {
        font-size: 16px;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    .s_container>a::after {
        left: -30px;
        top: 10px;
        width: 20px;
        height: 2px;
    }


    .s_container ul li {
        margin-bottom: 15px;
    }

    .s_container ul li a {
        font-size: 12px;

    }

    .fltb_top {
        width: 260px;
    }

    .slb4 .s_container {
        margin: 35% 0 0 10%;
        width: 80%;
    }

    .s_container ul li a:after {
        height: 1px;
    }








}


@media (max-width:960px) {}

@media (max-width:800px) {}

@media all and (max-width:768px) {

    /* header gnb 반응형 시작 */
    .header {
        height: unset;
    }

    .header_top {
        height: 280px;
    }

    .header_bottom {
        height: unset;
    }

    .header_bottom .sub_menu {
        display: block;
        width: unset;
    }

    .header_bottom .sub_menu div {
        line-height: 70px;
        text-align: center;
        font-size: 18px;
        display: block;
        margin: auto;
        width: 100%;
    }

    .header_top .ht_left {
        display: none;
    }

    .header_top .ht_right {
        width: 100%;
    }

    .header_top .ht_right .rtxt_box {
        display: block;
        margin: auto;
        text-align: center;
        padding-top: 20vw;
    }

    .header_bottom .sub_menu {}



    /* 푸터 */
    .ft_box .ftb_right {
        display: none;
    }

    .footer_box:after {
        display: none;
    }

    .footer_box {
        height: inherit;

    }



    /* Product1,2 반응형 시작*/
    .section .c_container .box {
        display: block;
        height: unset;
    }

    .section .c_container .box .box_img {
        margin-right: unset;
    }

    .section .c_container .box .box_img img {
        width: 100%;
    }

    .section .c_container .box .txt {
        position: unset;
        margin-top: 5vw;
    }

    /* Product3 반응형 시작*/

    .section .c_container {
        width: 65%;
    }

    .section .c_container .wrap {
        display: block;
    }

    .section .c_container .wrap .box3 {
        padding: 0;
    }

}

@media (max-width:600px) {}

@media (max-width:500px) {


    /* 모바일용 사이트맵 */
    .slb4 {
        display: none;
    }

    .slb1,
    .slb2,
    .slb3 {
        width: 33.3333%;
    }

    .slb2 {
        left: 33.333%;
    }

    .slb3 {
        left: 66.6666%;
    }

    .s_container>a {
        font-size: 14px;
    }

    .s_container ul li a {
        font-size: 11px;
    }



    /* 지앤비 */

    .gnb .gnb_left .logo_box {
        width: 150px;
    }

    .gnb .gnb_left {
        margin: 20px 0 0 10px;
        width: fit-content;
    }

    .gnb .gnb_right {
        margin-right: 10px;
    }

    .sitemap {
        font-size: 13px;
        top: 10px;
    }

    .global_txt {
        top: 35px;
        height: 125px;
        width: 40px;
    }

    .global_txt a {
        font-size: 12px;
    }





    /* 첫번째섹션 */


    .s1 {
        margin-top: 50px;
    }

    .s1_slick .s1sBox,
    .s1_slick .slick-list {
        height: 602px;
    }

    .s1_main_txt {
        left: 50%;
        transform: translateX(-50%);
    }

    .s1_slick .s1sBox {
        background-size: 230%;
    }

    .s1_slick .s1sBox {
        background-position: -300px 0px;
    }

    .s1_main_txt {
        width: 85%;
    }

    .s1_main_txt span {
        font-size: 10vw;

    }

    .s1_main_txt div {
        font-size: 3.7vw;

    }

    .s2_main1 {
        width: 90%;
    }

    .s3_main_box {
        display: block;
    }

    .s2_main1 {
        margin: 0 auto;
    }

    .s2m1_box {
        margin: 0;
    }

    .s2m1_box .s2box_txt {
        margin-top: 0px;

    }

    .s2m1_box {
        height: 90px;

    }

    .s2m1_box:after,
    .s2m1_box:before {
        display: none;
    }

    .s2m1_box span {
        display: block;
        text-align: center;
        font-size: 12px;
    }








    .slick_box .sb_img {
        height: 493px;
    }

    .s3_main_box {
        margin-top: 0px;
        padding-top: 10px;
    }

    .s2_main2 {
        width: 80%;
        margin: 0 auto;
    }

    .slick_box .slick-slide {
        margin-right: 0;
    }

    .s2m1_box .s2box_txt,
    .s3lt_top {
        width: fit-content;
        margin: 0 auto 5px;
    }




    .s3 {
        margin-top: 0;
    }

    .s3_left {
        width: 100%;
        background: none;
        margin: 30px auto 0;
    }

    .s3l_txt {
        margin: 0;
    }


    .s3 .s3lt_bottom {
        text-align: center;
        color: #fff;
    }

    .s3 .s3_main_box {
        background: url(../img/sec3_01.png);
    }

    .s3_right {
        display: none;
    }

    .s3 .s3lt_top {
        color: #fff;
    }

    .s3_center {
        width: 80%;
    }

    .s3_center {
        left: 50%;
        transform: translateX(-50%);
        top: 150px;
    }

    .s3 .slick-slide {
        margin-right: 0;
    }

    .s3c_box {
        margin: 0;
        box-shadow: none;
        height: 380px;
    }

    .s3box_middle {
        margin-top: 320px;
    }


    .s3c_box .s3box_img {
        width: 80%;
    }

    .s3box_img img {
        width: 100%;
    }

    .s3lt_bottom {
        text-align: center;
    }

    .catal_box {
        width: 60%;
        margin: 30px auto 0;
    }

    .cbox_ko,
    .cbox_en {
        height: 150px;
    }


    .s5_txt .s5t_top {
        margin-bottom: 5px;
    }

    .s5_txt .s5t_bottom {
        font-size: 10px;
    }

    .s5_img {
        display: block;
    }

    .s5_img {
        width: 60%;
    }

    .s5img_box {
        height: 150px;
        width: 100%;
    }

    .s5b_1 {
        margin-bottom: 30px;
    }

    .s5b_txt {
        bottom: 15px;
    }

    .s5b_img {
        top: 10px;
    }

    .s5b_txt p:first-child {
        font-size: 16px;
    }

    .s5b_txt p:last-child {
        font-size: 14px;
    }






}