@charset "UTF-8";

@import url(reset.css);


.org_top{
    width: 500px;
    margin: 0 auto;
    height: 500px;
}

.orgt_txt{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.orgt_img{
    margin-top: 10px;
    width: 100%;
    height: 260px;
    background: url(../img/company_img/sub1_ceo.png) no-repeat 0px 15px;
    background-size: 100%;
}


.org_bottom{
    width: 90%;
    margin: 0 auto;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.org_bottom div{
    background: url(../img/company_img/sub);
}