@charset "UTF-8";

@import url(reset.css);




.areas{
    margin-top: 100px;
}
.areas_top{
    width: 75%;
    height: 400px;
    background: #000;
    margin: 0 auto;

    background: url(../img/company_img/sub1_areas.png)no-repeat;
    background-size: contain;
}


.areas_bottom{
    margin-top: 200px;
}
.arb1{

    margin: 0 auto;
    width: 70%;
    background: #000;
    height: 500px;
    display: flex;
}

.arb1_img{width: 30%; background: #ccc;}
.arb1_txt{width: 70%; background: #999;}